footer
  p
    | Copyright by  
    a(href='luatintelico.com.vn', target='_blank') luatintelico.com.vn
    br
    a(href='luatintelico.com.vn', target='_blank')
      img.footer-logo(src='images/luatintelico.png')
